target/

*.log
*.class
*.jar
*.war
*.zip
*.tar.gz

.idea/
*.iml
*.ipr
*.iws
.vscode/
*.sublime-project
*.sublime-workspace

application-local.yml
application-dev.yml
application-test.yml

.git/
.gitignore
.gitmodules
svn/
*.swp

*.tmp
*.temp
*.bak
*.orig

Dockerfile
docker-compose.yml

README.md
LICENSE
